{:paths ["src"]
 :description "MIGRATE ALL THE THINGS!"
 :url "http://github.com/yogthos/migratus"
 :license {:name "Apache License, Version 2.0"
           :url "http://www.apache.org/licenses/LICENSE-2.0.html"
           :distribution :repo}
 :deps {com.github.seancorfield/next.jdbc {:mvn/version "1.2.790"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}
        org.clojure/data.json {:mvn/version "2.5.0"}}
 :aliases {:clojure1.10 {:extra-deps
                         {org.clojure/clojure {:mvn/version "1.10.1"}}}
           :clojure1.11 {:extra-deps
                         {org.clojure/clojure {:mvn/version "1.11.1"}}}
           :dev {:extra-paths ["test"]
                 :extra-deps
                 {jar-migrations/jar-migrations {:mvn/version "1.0.0"}
                  ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
                  clj-test-containers/clj-test-containers {:mvn/version "0.7.1"}
                  com.h2database/h2 {:mvn/version "2.1.214"}
                  hikari-cp/hikari-cp {:mvn/version "2.13.0"}
                  org.clojure/tools.trace {:mvn/version "0.7.11"}
                  org.postgresql/postgresql {:mvn/version "42.2.5"}}}
           :migratus {:jvm-opts [;; print clojure errors to standard out instead of file
                                 "-Dclojure.main.report=stderr"]
                      :extra-deps {org.postgresql/postgresql {:mvn/version "42.2.5"}}
                      :main-opts ["-m" "migratus.cli"]}
           :test-runner {:extra-paths ["test"]
                         :extra-deps
                         {lambdaisland/kaocha           {:mvn/version "1.66.1034"}
                          lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}
                          lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                          orchestra/orchestra           {:mvn/version "2021.01.01-1"}}
                         :main-opts   ["-m" "kaocha.runner" "--reporter" "kaocha.report/documentation"]}}}
