#kaocha/v1
 {:tests [{:id :unit
           :test-paths ["test"]
           :ns-patterns ["migratus\\.test\\..*"]}
          {:id :testcontainers
           :test-paths ["test"]
           :ns-patterns ["migratus\\.testcontainers\\..*"]}]
  :plugins [:kaocha.plugin/junit-xml
            :kaocha.plugin/cloverage
            :kaocha.plugin.alpha/spec-test-check]
  :reporter [kaocha.report/documentation
             kaocha.report/dots]
  :kaocha.plugin.junit-xml/target-file "target/test-reports/junit.xml"}
